# The apikey for the different weather providers, at least one must be specified
# Note: Hamweather requires two apikeys: client_id=apikey, client_secret=apikey2
#apikey.ForecastIo=
#apikey.OpenWeatherMap=caaf5319cafd9ef2d6da610adc4f33ea
#apikey.WorldWeatherOnline=
#apikey.Wunderground=
#apikey.Hamweather=
#apikey2.Hamweather=
#apikey.Meteoblue=

#location configuration, you can specify multiple locations
#location.<locationId1>.name=
#location.<locationId1>.latitude=   (not required for Yahoo provider)
#location.<locationId1>.longitude=  (not required for Yahoo provider)
#location.<locationId1>.woeid=      (required for Yahoo provider)
#location.<locationId1>.provider=
#location.<locationId1>.language=
#location.<locationId1>.updateInterval=
#location.<locationId1>.units=

#location.<locationId2>.name=
#location.<locationId2>.latitude=   (not required for Yahoo provider)
#location.<locationId2>.longitude=  (not required for Yahoo provider)
#location.<locationId2>.woeid=      (required for Yahoo provider)
#location.<locationId2>.provider=
#location.<locationId2>.language=
#location.<locationId2>.updateInterval=
#location.<locationId2>.units=

#location.home.name=home
#apikey.OpenWeatherMap=764984d5fa41ebf9045e3e0eb0f3b63b
#location.home.latitude=35.946699
#location.home.longitude=120.183625 
#location.home.provider=OpenWeatherMap
#location.home.language=en
#location.home.updateInterval=10

location.home.name=home
apikey.ForecastIo=01e21d3fbb6678969b34f0da9b690e07
location.home.latitude=35.946699
location.home.longitude=120.183625
location.home.provider=ForecastIo
location.home.language=zh
location.home.updateInterval=10